#### Importing libraries

In [ ]:
import pandas as pd
import os

### Task1# Merging 12 months of sales data into a single CSV file

In [ ]:
df = pd.read_csv("./Sales_Data/Sales_April_2019.csv")

files = [file for file in os.listdir('./Sales_Data')]

all_months_data = pd.DataFrame()

for file in files:
         df = pd.read_csv("./Sales_Data/"+file)
        
all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv("all_data.csv", index=False)

#### Read in updated DataFrame

In [ ]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

### Clean up the data!

#### Drop rows of NaN

In [ ]:
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()

all_data = all_data.dropna(how='all')
all_data.head()

#### Find 'or' and delete it

In [ ]:
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']
all_data.head()

## Augment Data with additional columns

### Task2: Add Month Column

In [ ]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int64')
all_data.head()

#### Task 3: Add a sales column

In [103]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001",9,15.36
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301",9,23.90
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001",9,11.95
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101",9,149.99
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301",9,11.95

#### Convert columns to correct type

In [100]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered']) #make int
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])#make float

#### Question1: What was the best month for sales? How much money was earned for that month?

In [104]:
all_data.groupby('Month').sum()

       Quantity Ordered  Price Each       Sales
Month
9                 13097  2082895.35  2095463.39
10                   22     3347.33     3353.31